/* Reset box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #2e2e2e;
  background-color: #f5f7fa;
  line-height: 1.6;
}

/* Header*/

header img.logo {
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(240, 230, 210, 0.7);
}

.navbar-text {
  font-size: 1.5rem;
  white-space: nowrap;
}

.nav-link {
  background-color: #a5a2a2;
  text-align: center;
  color: #f0e6d2 !important;
  border-radius: 20px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-link.active {
  background-color: #605e5e !important;
  color: #f0e6d2 !important;
}

/* Banner */

.watches-banner {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.watches-slides img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 0.5s ease;
}

.watches-slides img.active {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 2;
}

.banner-text h2 {
  font-family: cursive;
  font-size: 3rem;
  margin: 0;
}

/* Welcoming block */
.welcoming {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
  color: #444444;
  text-align: justify;
  text-indent: 2em;
  opacity: 2em;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.welcoming.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Main links */
.main-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.main-block {
  display: block;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  text-decoration: none;
  color: #1a2238;
  box-shadow: 0 6px 12px rgba(26, 34, 56, 0.1);
  width: 300px;
  transition: transform 0.25s ease, box-shadow 0.25s ease, opacity 0.8s ease,
    transform 0.8s ease;
  opacity: 0;
  transform: translateY(30px);
}

.main-block.visible {
  opacity: 1;
  transform: translateY(0);
}

.main-block h3 {
  margin-top: 0;
  color: #b28f36;
  font-size: 1.5rem;
}

.main-block p {
  color: #555;
  margin-top: 8px;
}

.main-block:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(178, 143, 54, 0.3);
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background-color: #1a2238;
  color: #f0e6d2;
}

/* Mobile adaptive */
@media (max-width: 600px) {
  .banner-text h2 {
    font-size: 2rem;
  }
  .main-block {
    width: 100%;
    max-width: 350px;
  }
}
